:root {
  --theme-font: '';
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif;
  background-color: #f0f0f0;
}

main {
  margin-top: 12px;
}

.theme-wrapper {
  min-width: 320px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}